.category-name{
	margin-bottom: 20px ;
}

.category-header{
	background:white;
	display: flex;
	justify-content: space-around;
	margin-bottom:50px !important;
}

.category-header .sticky-top{
	z-index:2 !important;
}