@media(min-width: 769px){
	.blog-read-page{
		
	}
	.twitter-icon{
		padding-right:200px;
	}

	.blogg{
		padding-left:90px;
	}
	.blog-image{
		width: 100% !important;
		height:300px !important
	}
	.user-comments-container{
		max-width:40vw;
		margin:30px auto;
	}
	.comment-form{
		max-width:40vw;
		margin:50px auto;
	}
}


/*@media(max-width: 768px){

}*/


.blog-read-page{
	max-width: 90% !important;
	margin:auto !important;
	margin-bottom: 0 !important
}

.heart-icon, .twitter-icon{
	cursor:pointer;
}


.article-footer{
	margin-top:120px;
	padding:20px;
	border-top:.1px solid #ccced1 !important;
	display: flex;
	justify-content:space-between;
}

.twitter-icon{
	display: flex;
	flex-direction: column;
	margin-bottom: 0 !important;
}



.comment-icon{
	color:rgba(62, 69, 81, 0.4);
	margin-left:20px;

}



.blog-read-content{
	padding-bottom:50px !important;
}

.comment-avatar{
	width:30px;
	height: 30px;
	border-radius: 50%;
}

.cardHeader{
	display: flex;
	padding:0 !important;
}

.comment-name{
	display: flex;
	width: 100%;
	padding-right:15px;
	padding-top:10px;
	padding-left:5px;
	justify-content: space-between;
}

.user-comment-info{
	display: flex;
	flex-direction: column;
}

.comment-header{
	background-color: #0B0011 !important;
}

.comment-button{
	display: flex !important;
	max-width: 100px;
}

.fav{
	margin-top:0 !important;
}

.comment-container{
	margin-top:20px !important;
}