/********* article-card style *********/
@media(min-width: 769px){
	.blog-list-image{
		width:300px !important;
		
	}
	.blog-info{
		padding-right:120px !important;
	}
}

@media(max-width: 769px){
	.blog-list-image{
		width:300px !important;
		max-height:250px !important;
	}
}

.article-card{
	width:250px;
	height:250px;
	margin:10px;
	padding:20px;
}

.article-card{
	display: flex;
	flex-direction: row !important;
}

.bookmark{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding-top:0;
}

.bookmark-icon{
	padding-right: 10px !important;
}

.bookmark-icon small{
	text-align: center;
	padding-left:5px;
}

.blog-read-and-bookmark{
	display: flex;
	justify-content: space-between;
}

.recent-articles{
	margin-top:50px !important;
}


