@media(max-width:768px){

}


.user-content{
	width: 90%;
	margin-top:50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.user-info{
	display: flex;
	justify-content: space-around;
	padding-bottom:20px;
}

.user-info img{
	width: 120px;
	height:120px;
	float:right;
}

.avatar-and-button{
	display: flex;
	flex-direction: column;
}

.btn-outline-green{
	padding:5px !important;
}

.badge{
	padding:8px !important;
	margin:5px;
	margin-left:0;
}

.articles-by-user{
	margin-top:80px;
}
.articles-by-user h3{
	padding-left:10px;
	text-align: left;
	font-weight: bold;
}